*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #407cff1e;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 50;
}

input {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 200;
}

.Mainwidget {
    width: 50%;
    max-width: 700px;
    min-width: 300px;
    min-height: 600px;
    background-color: white !important; /* Set background color to white */
    /* box-shadow: 0 15px 25px rgba(40, 38, 38, 0.2); */
    box-shadow: 0 15px 25px rgba(40, 38, 38, 0.2); /* Preserve box-shadow */
    border-radius: 0.5rem; 
    border: 1px solid rgba(0, 0, 0, 0.1); /* Preserve border effects */
    backdrop-filter: blur(20px); 
    background-color: rgba(255, 255, 255, 0.2); /* This line doesn't make sense, it sets background-color to semi-transparent white, which may not be necessary */
    text-align: center; 
}


.title-desc {
    align-items: center; /* Position at the start of the container */
    /* margin: 10px; */
    flex-wrap: wrap;
    padding: 5px;
    margin-top:5%;
    font-size: x-large;
    
}

.search-box {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    /* border: 3px solid rgb(92, 129, 147); */
 
}

.search-bar {
    /* border: 3px solid rgb(92, 129, 147); */
    border-radius: 0.5rem;
    background-color: #407cff1e;
    
    width: 50%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow:hidden;
}

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message404 {
    padding: 10px;
}

.img404 {
    padding-top: -30px;
    /* border: 3px solid rgb(92, 129, 147); */
}
